
/* carrito*/
/*
.modal-backdrop {
  display: none;
} */
h1 {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
}
button {
  color: #49585a;
  background-color: #d5ddd5;
  margin-left: 20px;
  border: none;
  height: 50px;
  border-radius: 5px;
}
form {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  height: 400px;
}
input {
  color: #49585a;
  background-color: #d5ddd5;
  width: 250px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-right: none;
  margin-top: 10px;
}

button {
  color: #49585a;
  background-color: #d5ddd5;
  margin-left: 20px;
  border: none;
  width: 70px;
  height: 50px;
  border-radius: 5px;
}
.material-symbols-outlined {
  font-size: 30px;
}
.cart {
  width: 70%;
  height: 40px;
  border: none;
  background-color: #f09100;
}

.hidden {
  display: none;
}

.conteinerProduct {
  display: inline-block;
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
  height: 470px;
}
.card {
  height: 100%;
  width: 100%;
}
.card-body {
  margin-top: 10px;
  height: 450px;
}
.card-title {
  color: #222222;
}
.amount-inp {
  width: 110px;
  height: 40px;
}
.conteinerProduct-cart {
  height: 520px;
}
.total-amount {
  color: #222222;
}

#container {
  text-align: center;
}
#keep-buying {
  height: 50px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  margin: auto;
  margin-left: 20px;
}
#finish-buy {
  margin-left: 0px;
  margin: auto;
  margin-right: 20px;
  background-color: #f09100;
}
#payment-btn {
  width: 120px;
  height: 60px;
}
#user-controls {
  text-align: center;
  height: 100px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}
#summary {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

@media (max-width: 1000px) {
  #search-section {
    width: 100%;
  }
  input {
    width: 90%;
  }
  #search-input {
    margin: auto;
  }
  #filter-btn {
    margin-right: 20px;
    margin-top: 0px;
  }
}