#h2,p {
    margin-top: 20px;
    color: white;
}
input, button[type = submit], .container-form {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}
form {
    margin: auto;
    display: inline-block;
    text-align: center;
    width: 90%;
}
p {
    font-size: 20px;
    margin: none;
}
input {
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
} 
button[type = submit] {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border: none;
    color: white;
    background-color: rgb(74, 151, 172);
    border-radius: 10px;
    transition: .3s;
}
button[type = submit]:hover {
    background-color: rgb(112, 211, 238);
}
.container-form {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 50%;
    height: 320px;
    border-radius: 10px;
    background-color:rgb(45, 92, 117) ;
}

#h2 {
    padding-top: 30px;
    padding-bottom: 10px;
}
@media (max-width: 768px){
    .container-form {
        width: 90%;
    }
}