input {
  color: #49585a;
  background-color: #f09100;
  width: 250px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: none;
}

button {
  color: #49585a;
  background-color: #d5ddd5;
  margin-left: 20px;
  border: none;
  width: 70px;
  height: 50px;
  border-radius: 5px;
}

footer {
  margin-top: 300px;
  margin-bottom: 0px;
}
.info-container {
  width: 60%;
}
.name-and-price {
  margin: auto;
  margin-top: 5px;
  display: flex;
  width: 90%;
  height: 55px;
  border-bottom: 2px solid #f09100;
}

.short-container {
  width: 30%;
  height: 300px;
  margin-top: 150px;
}
.short-container-login {
  width: 30%;
  height: 220px;
  margin-top: 150px;
}

.material-symbols-outlined {
  font-size: 30px;
}
.cart {
  width: 70%;
  height: 40px;
  border: none;
  background-color: #f09100;
}

.hidden {
  display: none;
}
.filters {
  width: 70px;
  margin: auto;
  margin-top: 0px;
}
.no-stock-h1 {
  font-size: 6vw;
  border-radius: 10px;
  padding-top: 25px;
  margin: auto;
  text-align: center;
  object-position: center;
  margin-top: 200px;
  width: 50%;
  height: 23vw;
  color: #49585a;
  background-color: orange;
  box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 0.34);
}

.conteinerProduct {
  display: inline-block;
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
  height: 470px;
}
.card {
  height: 100%;
  width: 100%;
}
.card-body {
  margin-top: 10px;
  height: 450px;
}
.card-title {
  color: #222222;
}
.amount-inp {
  width: 110px;
  height: 40px;
}
.conteinerProduct-cart {
  height: 520px;
}
.total-amount {
  color: #222222;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  background-color: #fff;
  border: none;
}

#showMenu {
  background-color: #4caf50;
  color: white;
  border: none;
}

#showMenu:hover {
  background-color: #45a049;
}

#container {
  text-align: center;
}
#filter-btn {
  margin: auto;
  margin-top: 0px;
}
#search-section {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 70px;
  height: 140px;
  width: 650px;
  text-align: center;
}
#sold-and-btn-container {
  width: 100%;
  height: 50px;
}

#search-input {
  margin: none;
}
#menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}
#menu button {
  border-radius: 0px;
}

@media (max-width: 1000px) {
  #search-section {
    width: 100%;
  }
  input {
    width: 90%;
  }
  #search-input {
    margin: auto;
  }
  #filter-btn {
    margin-right: 20px;
    margin-top: 0px;
  }
}
